extend layout

block content
  h2 Name: #{item.name}
  h4 Color: #{item.color[0].colorName}
  h4 Color Code: #{item.color[0].colorCode}

  ul
    li
      a(href='/item/edit/' + item.id) Edit Item
    li
      a(href='/item/delete/' + item.id) Delete Item
    li
      a(href='/item/new') Create New Item
    li
      a(href='/items') See All Items
    li
      a(href='/') Home Page