extend layout

block content
  form(method='post' action='')
    label(for='name') Name:
    input(type='text' id='name' name='name' value=item.name)
    label(for='colorName') Color Name:
    input(id='colorName' name='colorName' type='text' value=item.color[0].colorName)
    label(for='colorCode') Color Code:
    input(id='colorCode' name='colorCode' type='number' value=item.color[0].colorCode)
    input(type='submit' value='enter')

    ul
      li
        a(href='/item/new') Create New Item
      li
        a(href='/items') See All Items
      li
        a(href='/') Home Page