extend layout

block content
  form(method='post'   action='')
    label(for='name') Name:
    input(id='name' name='name' type='text')
    label(for='colorName') Color Name:
    input(id='colorName' name='colorName' type='text')
    label(for='colorCode') Color Code:
    input(id='colorCode' name='colorCode' type='number')
    input(type='submit' value='enter')

  ul
    li
      a(href='/') Home Page
    li
      a(href='/items') See All Items